<nav>
  <div id="logo">
    <p>JulienGarcia</p>
  </div>
  <ul id="menu">
    <li class="regular-menu-item active"><a href="#">Accueil</a></li>
    <li class="regular-menu-item"><a href="#">Qui je suis ?</a></li>
    <li class="regular-menu-item"><a href="#">Compétences</a></li>
    <li class="regular-menu-item"><a href="#">Portfolio</a></li>
    <li id="contact">Me contacter</li>
  </ul>
</nav>
<div class="banner typewriter">
  <h1>Développeur web front-end</h1>
  <h4>Le code est ma passion, rendre votre application attirante est mon devoir</h4>
  <img src="https://res.cloudinary.com/dwv60m21t/image/upload/v1614877828/banner-my-website_ppsdjh.png" alt="My banner">
  <hr>
</div>
<div class="main-content container">
  <h2>Salut ! Je suis Julien, ravi de te rencontrer.</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa voluptatem quia possimus autem tenetur ducimus minima tempore illo. Assumenda quis quibusdam commodi eum distinctio, rerum quasi quos quaerat eligendi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eos optio impedit magni ullam illo doloribus omnis iste dolorum voluptatem qui, atque nesciunt culpa, saepe possimus rerum recusandae rem numquam?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos eum aut veniam quasi iusto, rerum distinctio, tenetur quibusdam repellat harum facilis possimus deleniti nemo inventore veritatis in nostrum dolorem numquam?
  </p>
</div>