<div id="accueil" class="banner typewriter">
  <h1>Développeur web front-end</h1>
  <h4>Le code est ma passion, rendre votre application attirante est mon devoir</h4>
  <img src="https://res.cloudinary.com/dwv60m21t/image/upload/v1614877828/banner-my-website_ppsdjh.png" alt="My banner">
  <hr>
</div>
<div>
  <div class="presentation-section">
    <h2>Salut ! Je suis Julien, ravi de te rencontrer.</h2>
    <p>
      Je débute mon aventure en tant que développeur front-end et freelance.
    </p>
    <p>
      Avant de devenir développeur web je faisais déjà de l'intégration de site web en passant par le CMS Wordpress et de la rédaction de contenu SEO-friendly.<br>
      J'ai réalisé plusieurs projets en tant que développeur front-end, que ce soit seul ou en collaboration avec une équipe de plusieurs développeurs. Vous pouvez retrouver ces projets dans mon portfolio plus bas.
      De part ma formation en Marketing Digital (Bachelor et Master) j'ai une approche très accès produit et optimisation de l'expérience utilisateur.<br>
      Enfin, je suis quelqu'un de très curieux et j'aime travailler sur le moindre détail.
    </p>
  </div>
  <div id="compétences" class="skills-section container">
    <div class="cards">
      <div class="card">
        <i class="fas fa-code"></i>
        <h3>Développeur front-end</h3>
        <p>Je suis développeur d'application Vue.js</p>
        <h4>Langages</h4>
        <p>Javascript Vanilla</p>
        <p>HTML</p>
        <p>CSS (SCSS)</p>
        <p>Bootstrap</p>
        <p>Tailwind</p>
      </div>
      <div class="card">
        <i class="fas fa-code"></i>
        <h3>Développeur front-end</h3>
        <p>Je suis développeur d'application Vue.js</p>
        <h4>Langages</h4>
        <p>Javascript Vanilla</p>
        <p>HTML</p>
        <p>CSS (SCSS)</p>
        <p>Bootstrap</p>
        <p>Tailwind</p>
      </div>
      <div class="card">
        <i class="fas fa-code"></i>
        <h3>Développeur front-end</h3>
        <p>Je suis développeur d'application Vue.js</p>
        <h4>Langages</h4>
        <p>Javascript Vanilla</p>
        <p>HTML</p>
        <p>CSS (SCSS)</p>
        <p>Bootstrap</p>
        <p>Tailwind</p>
      </div>
    </div>
  </div>
  <div id="portfolio" class="portfolio-section container">
    <h2>Mes projets réalisés</h2>
    <div class="card-projects">
      <div class="card-project">
        <h4>Projet</h4>
        <p>Un peu de texte ici</p>
        <p class="btn btn-primary">Voir le projet</p>
      </div>
    </div>
  </div>
</div>