<div class="banner typewriter">
  <h1>Développeur web front-end</h1>
  <h4>Le code est ma passion, rendre votre application attirante est mon devoir</h4>
  <img src="https://res.cloudinary.com/dwv60m21t/image/upload/v1614877828/banner-my-website_ppsdjh.png" alt="My banner">
  <hr>
</div>
<div>
  <div class="presentation-section">
    <h2>Salut ! Je suis Julien, ravi de te rencontrer.</h2>
    <p>
      Je débute mon aventure en tant que développeur front-end et freelance.
    </p>
    <p>
      Avant de devenir développeur web je faisais déjà de l'intégration de site web en passant par le CMS Wordpress et de la rédaction de contenu SEO-friendly.<br>
      J'ai réalisé plusieurs projets en tant que développeur front-end, que ce soit seul ou en collaboration avec une équipe de plusieurs développeurs. Vous pouvez retrouver ces projets dans mon portfolio plus bas.
      De part ma formation en Marketing Digital (Bachelor et Master) j'ai une approche très accès produit et optimisation de l'expérience utilisateur.<br>
      Enfin, je suis quelqu'un de très curieux et j'aime travailler sur le moindre détail.
    </p>
  </div>
  <div class="skills-section container">
    <div class="cards">
      <div class="card">
        <img src="" alt="">
        <h3>Développeur Vue.js</h3>
        <p>Je suis développeur Vue.js</p>
        <h4></h4>
      </div>
      <div class="card">
        <img src="" alt="">
        <h3>Développeur front-end</h3>
        <p>Je suis développeur d'application Vue.js</p>
        <h4>Langages</h4>
        <ul>
          <li>Javascript Vanilla</li>
          <li>HTML</li>
          <li>CSS (SCSS)</li>
          <li>Bootstrap</li>
          <li>Tailwind</li>
        </ul>

      </div>
      <div class="card">
        <img src="" alt="">
        <h3>Intégrateur Wordpress</h3>
        <p>Je suis intégrateur Wordpress</p>
      </div>
    </div>
  </div>
</div>