.cards {
  display: flex;
  box-shadow: 0 5px 5px 0 #f3edea;
}

.card {
  background: #EEE2DC;
  padding: 15px;
  width: 33.3%;
  height: auto;
  text-align: center;
}

#left-card {
  border-radius: 10px 0px 0px 10px;
  border-right: solid 1px rgb(192, 192, 192);
}

#right-card {
  border-radius: 0px 10px 10px 0px;
  border-left: solid 1px rgb(192, 192, 192);
}

ul {
  list-style-type: none;
}

.fa-code {
  font-size: 37px;
  color: grey;
  padding: 25px 0px;
}

// card projects

.card-projects {
  display: flex;
  justify-content: space-between;
}

.card-project {
  background-color: white;
  box-shadow: 8px 8px 12px grey;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  width: 30%;
}