.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background: #EEE2DC;
  box-shadow: 5px 5px 12px rgb(212, 157, 129);
  border-radius: 10px;
  padding: 15px;
  width: 30%;
  height: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

.fa-code {
  font-size: 37px;
  color: grey;
  padding: 25px 0px;
}

// card projects

.card-projects {
  display: flex;
  justify-content: space-between;
}

.card-project {
  background-color: white;
  box-shadow: 8px 8px 12px white;
  height: 300px;
  width: 30%;
}