nav {
  position: sticky;
  width: 100%;
  margin: 0 auto;
  top: 0px;
  padding: 20px;
  z-index: 2;
  height: 68px;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline !important;
  list-style-type: none;
  justify-content: space-around;
  margin-right: 40px;
}

#contact {
  background-color: #AC3B61;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  margin-right: 0px;
}

.regular-menu-item {
  padding-top: 10px;
}

.scroll-navbar {
  transition: 2s;
  background: rgba(255, 255, 255, 0.888);
}

#logo p {
  font-size: 23px;
  font-weight: bold;
  color: rgb(44, 44, 44);
}

.active {
  color: #AC3B61;
  font-weight: 600;
}